h1 {
	text-align: center;
	font-style: Noto Serif KR;

}
.topnav a {
    float: left;
    color: #A34B7C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
h3 {
	color: red;
}

body {line-height: 80%;

;}
.column {
    float: left;
    width: 33.33%;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}