<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>NewNess</h1>
    <form action="/pokemon" method= "POST"></form> <br>
    Name: <input type="text" name ="name"> <br>
Picture: <input type="text" name ="picutre"><br>
Submit: <button type ='Submit' name ="Submit"></button>
</body>
</html>