<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <h1>NEW Exercise</h1>
    <form action="/exercise" method="POST"></form> <br>
    Name: <input type="text" name="name"> <br>
    Cardio: <input type="text" name="cardio"><br>
    Weights: <input type="text" name="weights"><br>
    Submit: <button type='Submit' name="Submit"></button>
</body>

</html>
