<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <h1>Exercises</h1>
    <%= exercises.name; %>
    <%= exercises.cardio; %>
    <%= exercises.weights; %>
    <img src="<%=exercises.img%>" alt="">
</body>

</html>
